
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao&family=Noto+Serif+Lao&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans Lao', sans-serif;
  font-family: 'Noto Serif Lao', serif;

  color: #333;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  font-family: Arial, sans-serif;
  color: #333;
  padding: 10px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.container{
  /* width: 595px;
  height: 842px; */
  
  background-color: #fff;
  padding: 25px 30px;
  /* border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  overflow: auto;
  max-height: 100vh; */
  
}
.picture img{
  display: block;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  width: 80px;
 }

.container .headcontent {
  display: flex;
  
  justify-content: center;
  
}

.headcontent .slogan p {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
 
}


.detail p {
  font-size: 18px;
  line-height: 1.5;
 
}
.detail {
  padding: 20px;
  margin-bottom: 20px;
}
.detail p {
  margin-bottom: 10px;
}

.detail .bolded {
  font-weight: bold;
  font-size: 15px;
  
}
.footcontent .licent{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}